<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Boilerplate Ejs</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200 vh-100">
  <%-include('../navbar') %>
    <%- body %>
      <%-include('../footer') %>
</body>

</html>