<% layout('/layouts/boilerplate') %>
  <div class="max-w-screen-sm mx-auto">
    <h1 class="font-semibold text-3xl my-4 text-gray-800">Create a new Campground</h1>
    <form action="/campgrounds" method="POST">
      <div class="mt-6 mb-2 ">
        <label for="title" class="text-lg text-gray-700 font-bold mb-2 mr-12 ">Title</label>
        <input type="text" name="campground[title]" id="title"
          class="w-full bg-white appearance-none border-2 border-gray-200 rounded mt-1 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800 " />
      </div>

      <div class="mb-2">
        <label for="location" class="text-lg text-gray-700 font-bold mb-2 mr-4">Location</label>
        <input type="text" name="campground[location]" id="location"
          class="bg-white w-full appearance-none border-2 border-gray-200 rounded mt-1 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800" />
      </div>

      <div class="mb-2">
        <label for="image" class="text-lg text-gray-700 font-bold mb-2 mr-4">Image URL</label>
        <input type="text" name="campground[image]" id="image"
          class="bg-white w-full appearance-none border-2 border-gray-200 rounded mt-1 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800" />
      </div>

      <div class="mb-2">
        <label for="price" class="text-lg text-gray-700 font-bold mb-2 mr-4">Campground Price</label>
        <div class="flex flex-row">
          <span class="flex items-center bg-gray-200 px-3 font-bold text-gray-700">₹</span>
          <input type="number" name="campground[price]" id="price"
            class="bg-white w-full appearance-none border-2 border-gray-200 rounded mt-1 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800">
        </div>

      </div>

      <div class="mb-2">
        <label for="description" class="text-lg text-gray-700 font-bold mb-2 mr-4">Description</label>
        <textarea class="
                form-control
                block
                w-full
                px-3
                py-1.5
                text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-gray-700 focus:outline-none
              " id="description" rows="3" name="campground[description]"></textarea>
      </div>

      <button class="text-md font-semibold mt-6 py-2 px-12 bg-gray-800 text-white">
        Submit
      </button>
    </form>
  </div>