<% layout('/layouts/boilerplate') %>
<div class="max-w-screen-md mx-auto">
  <form action="/campgrounds" method="POST">
    <div class="my-6">
      <label for="title" class="text-gray-700 font-bold mb-2 mr-12"
        >Title</label
      >
      <input
        type="text"
        name="campground[title]"
        id="title"
        class="w-full bg-white appearance-none border-2 border-gray-200 rounded mt-1 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800"
      />
    </div>

    <div>
      <label for="location" class="text-gray-700 font-bold mb-2 mr-4"
        >Location</label
      >
      <input
        type="text"
        name="campground[location]"
        id="location"
        class="bg-white w-full appearance-none border-2 border-gray-200 rounded mt-1 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-800"
      />
    </div>
    <button
      class="text-md font-semibold mt-6 py-2 px-12 bg-gray-800 text-white"
    >
      Submit
    </button>
  </form>
</div>
